pyversion=3.9.16 # your python version
pyenv=db-anywhere # you project name or what you want to call you virtual env
use python ${pyversion}
# Create the virtualenv if not yet done
layout virtualenv ${pyversion} ${pyenv}
# activate it
layout activate ${pyenv}-${pyversion}
