<h2>My Databases</h2>
<div routerLink="/database/create" class="btn btn-primary">Create</div>
<div class="d-flex align-content-start flex-wrap">
  <div
    *ngFor="let database of databases"
    routerLink="/database/{{ database.id }}"
    class="card border border-dark rounded p-3 m-2"
  >
    <img src="assets/postgresql.png" class="card-img-top" alt="..." />
    <div class="card-text row card-body">
      <div class="col">
        <span
          *ngIf="database.status == 'processing'; else elseBlock"
          class="badge text-bg-primary"
        >
          {{ database.status }}
        </span>
        <ng-template #elseBlock class="spinner-border text-primary">
          <span class="badge text-bg-success">{{ database.status }}</span>
        </ng-template>
      </div>
      <div class="col">{{ database.name }}</div>
      <div class="col">{{ database.created_at }}</div>
    </div>
  </div>
</div>
