<p>database-create works!</p>
<form class="container">
  <div class="row h3 mb-3 fw-normal text-center">
    <h1 class="col">Create a database</h1>
  </div>
  <input type="name" class="row form-control" placeholder="name" />
  <input type="type" class="row form-control" placeholder="type" />
  <input type="db_name" class="row form-control" placeholder="database name" />
  <input type="db_user" class="row form-control" placeholder="database user" />
  <input
    type="db_password"
    class="row form-control"
    placeholder="database password"
  />
  <input
    type="db_capacity"
    class="row form-control"
    placeholder="database capacity"
  />
  <button class="row btn btn-lg btn-primary" type="submit">Create</button>
</form>
