<p>database-detail works!</p>
{{ database.id }}
<div class="card-text row card-body">
  <div class="row">
    {{ database.status }}
  </div>
  <div class="row">{{ database.name }}</div>
  <div class="row">{{ database.created_at }}</div>
  <div class="row">{{ database.db_name }}</div>
  <div class="row">{{ database.db_user }}</div>
  <div class="row">{{ database.db_password }}</div>
  <div class="row">{{ database.db_capacity }}</div>
  <div class="row">{{ database.db_host }}</div>
  <div class="row">{{ database.db_port }}</div>
</div>
